#library-list {
    display: grid;
    grid-template-columns: auto;
    column-gap: 5px;
}

@media only screen and (min-width: 768px) {
    #library-list {
        grid-template-columns: 20% 80%;
    }
}

#library-list-view {
    margin-right: 10px;
    border: none;
    min-height: 100px;
}

#library-list-view a {
    color: blue;
}

.single-library-item {
    padding: 15px 5px 10px 10px;
    border: 1px solid #eee;
    margin: 0 0 5px;
}

.library-item-type {
    text-align: right;
    font-size: 8px;
}

.ARTICLE {
    background-color: rgba(255, 0, 0, .1);
}

.ARTICLE .library-item-type {
    color: rgba(255, 0, 0, .35);
}

.OTHER {
    background-color: rgba(150, 50, 50, .1);
}

.OTHER .library-item-type {
    color: rgba(150, 50, 50, .35);
}

.THESIS {
    background-color: rgba(20, 20, 20, .1);
}

.THESIS .library-item-type {
    color: rgba(20, 20, 20, .35);
}

.STUDENTPAPER {
    background-color: rgba(50, 50, 150, .1);
}

.STUDENTPAPER .library-item-type {
    color: rgba(50, 50, 150, .35);
}

/* Sort and Filter CSS */
.filter-sort {
    font-size: 80%;
    margin-bottom: 20px;
}
.filter-sort .filter {
    float: unset;
    margin: 0px;
}

.search-inputs {
    margin-bottom: 10px;
}
.search-inputs input {
    width: 100%;
    border: none;
    background-repeat: repeat-x;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    box-sizing: border-box;
    font-size: 100%;
}
.search-inputs input:focus {
    outline-color: #2b669a;
}
.year-seperator {
    padding-top: 10px;
    padding-bottom: 10px;
}
.years-filter input {
    border-bottom: none;
}
#yearStart {
    border-right: 1px solid #ddd;
}
#yearEnd {
    border-left: 1px solid #ddd;
}

#filter-types, #sort-type, .search-inputs {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter-sort .search-item {
    background-repeat: repeat-x;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.filter-sort .search-item:first-child, .search-inputs:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.filter-sort .search-item:last-child, .search-inputs:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
}

.filter-sort .search-item:hover {
    cursor: pointer;
}

.filter-sort .search-item.active {
    background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
    color: white;
    border-color: #2b669a;
}

.years-filter {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    text-align: center;
}

.sort-decending:after {
    content: "\02191";
    float: right;
}

.sort-ascending:after {
    content: "\02193";
    float: right;
}

#filter-types .type-total {
    float: right;
}


/* Admin editor css, move to an admin css file */
.k-edit-label {
    width: 30% !important;
}
.k-edit-form-container {
    display: block !important;
}
.editor-section .editor-row {
    display: flex;
    padding: 10px;
    gap: 30px;
    align-items: flex-end;
}
.editor-section .editor-row label {
    flex-grow: 1;
}
.editor-section .editor-row input {
    width: 100%
}

.editor-row .k-dropdown {
    width: 100%
}

#library-grid {
    min-height: 400px;
}
.add-item {
    color: black;
}
.add-item div {
    padding: 10px;
}
.add-item input {
    color: black;
}

#author-add-window {
    display: none;
}
div.k-loading-mask {
    z-index: 99999;
}