#library-list {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 5px;
}

#library-list-view {
    margin-right: 10px;
    border: none;
}

#library-list-view a {
    color: blue;
}

.single-library-item {
    padding: 15px 5px 10px 10px;
    border: 1px solid #eee;
    margin: 0 0 5px;
}

.ARTICLE {
    background-color: rgba(255, 0, 0, .1);
}

.library-item-type {
    text-align: right;
    font-size: 8px;
}

.ARTICLE .library-item-type {
    color: rgba(255, 0, 0, .35);
}

/* Sort and Filter CSS */
.filter-sort {
    font-size: 80%;
}
.filter-sort input {
    width: 100%;
    margin-bottom: 5px !important;
}

ul.k-filter-container, ul.k-filter-lines {
    margin: 0px;
    padding: 0px;
}

.k-filter-toolbar-item.k-filter-operator {
    display: none;
}
.filter-sort .search-item {
    margin-bottom: 5px;
}
.filter-sort .search-item:hover {
    cursor: pointer;
}

.filter-sort .search-item.active {
    background-color: blue;
    color: white;
}

.years-filter {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    text-align: center;
}

.sort-decending:after {
    content: "\02191";
    float: right;
}

.sort-ascending:after {
    content: "\02193";
    float: right;
}